#------ python -------------

*.ipynb
*.html
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/utils/*.ipynb
/utils/*.html

00_Canopy_ToRunPythonScripts.py
Plot_HubbleDiagram_Raisins.py

#------- bash ------------

*.sh

#------- diverse ------------

.gitattributes
.DS_Store
*.log
/tmp/*