#------ python -------------

# *.ipynb
*.html
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# /utils/*.ipynb
/utils/*.html

Fit_with_Snoopy_Individual.ipynb

#------- bash ------------


#------- diverse ------------

.gitattributes
.DS_Store
*.log
/tmp/*
